<div>    
    {{!-- <img src="https://styles.redditmedia.com/t5_5blkvq/styles/communityIcon_t5ji6wuld2z71.jpg?format=pjpg&s=1672be49333cd14749784be8bbc3c968a033d8e0" style="width: 300px;"> --}}
    <img src="/static/img/coder_square_logo.jpg" style="width: 350px;">
    <h1>Hola {{firstName}}, bienvenido al sistema!</h1>
</div>
